@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

*{
	font-family: 'Calistoga', cursive;
	box-sizing: border-box;
}

header {
	padding: 10px;
	background-color: #5a9e5b;
	background-image: url("zen01.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 150px;
	border-right: 2px solid black;
	border-bottom-right-radius: 50%;
	border-bottom: 3px solid black;
	box-shadow: 5px 5px 10px gray;
}

header h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 5rem;
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
	margin-top: 10px;
	margin-left: 0px;
}

header h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2rem;
	color: white;
	margin-left: 100px;
	margin-top: -50px;
}

header h2 abbr {
	font-family: 'Quicksand', sans-serif;
	font-size: 2rem;
	color: white;
}

.summary {
	text-align: center;
	border-bottom: double;
}

.summary p {
	margin: 0;
	padding: 5px;
	font-size: 1rem;
}

.preamble {
	background-image: url("bk01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	text-align: center;
	margin: 0;
	margin-top: -10px;
	border-right: double;
	border-left: double;
	border-bottom: double;
}

.preamble h3 {
	background-color: rgba(0,0,0,0.6);
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	color: white;
	text-shadow: 1px 1px 1px black;
	padding: 5px;
	border-bottom: double;
	border-top: double;
}

.preamble p {
	margin: 0;
	margin-top: -10px;
	padding: 5px;
}

.supporting {
	background-image: url("bk01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 70%;
	border-right: double;
	border-left: double;
	border-bottom: double;	
}

@media (max-width: 800px) {
	.supporting {
		width: 100%;
	}
}

.supporting h3 {
	background-color: rgba(0,0,0,0.6);
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	color: white;
	text-shadow: 1px 1px 1px black;
	padding: 5px;
	border-bottom: double;
	border-top: double;	
}

.supporting p {
	padding: 5px;
}

.sidebar {
	width: 30%;
	padding: 10px;
	float: right;
	margin-top: -1323px;
}

@media (max-width: 800px) {
	.sidebar {
		width: 100%;
		margin: 0;
	}
}

.select {
	background-image: url("bk02.jpg");
	background-size: cover;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	color: white;
	text-shadow: 1px 1px 1px black;
	padding: 5px;
	padding-left: 25px;
	border-bottom: double;
	border-top: double;	
}

.design-selection {
	background-image: url("bk02.jpg");
	background-size: cover;
	border-left: double;
	border-right: double;
	padding-bottom: 28px;
	background-color: #c7c7c7;
}

@media (max-width: 800px) {
	.design-selection {
		padding-bottom: 25px;
	}
}

.design-selection a {
	text-decoration: underline;
	color: white;
	font-size: 1rem;
	font-family: 'Quicksand', sans-serif;
}

.design-selection ul {
	margin: 0;
	padding-left: 25px;
}

.archives {
	background-image: url("bk02.jpg");
	background-size: cover;
	margin-top: -10px;
	background-color: rgba(0,0,0,0.6);
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	color: white;
	text-shadow: 1px 1px 1px black;
	padding: 5px;
	padding-left: 25px;
	border-bottom: double;
	border-top: double;	
}

.design-archives {
	background-image: url("bk02.jpg");
	background-size: cover;
	border-left: double;
	border-right: double;
	background-color: #c7c7c7;
}

.design-archives a {
	text-decoration: underline;
	color: white;
	font-size: 1rem;
	font-family: 'Quicksand', sans-serif;
}

.design-archives ul {
	margin: 0;
	margin-top: -10px;
	padding-left: 25px;
	padding-bottom: 220px;
}

@media (max-width: 800px) {
	.design-archives ul {
		padding-bottom: 25px;
	}
}

.resources {
	background-image: url("bk02.jpg");
	background-size: cover;
	margin-top: 0px;
	background-color: rgba(0,0,0,0.6);
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	color: white;
	text-shadow: 1px 1px 1px black;
	padding: 5px;
	padding-left: 25px;
	border-bottom: double;
	border-top: double;	
}

.zen-resources {
	background-image: url("bk02.jpg");
	background-size: cover;
	border-left: double;
	border-right: double;
	padding-bottom: 542px;
	border-bottom: double;
	background-color: #c7c7c7;
}

@media (max-width: 800px) {
	.zen-resources {
		padding-bottom: 25px;
	}
}

.zen-resources a {
	text-decoration: underline;
	color: white;
	font-size: 1rem;
	font-family: 'Quicksand', sans-serif;
}

.zen-resources ul {
	margin: 0;
	margin-top: -10px;
	padding-left: 25px;
}

footer a {
	text-decoration: underline;
	color: black;
	font-size: 1rem;
	font-family: 'Quicksand', sans-serif;
}

footer {
	text-align: center;
	width: 100%;
	border-top: double;
}